<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Boot Nacos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h3>Welcome to Spring Boot Nacos</h3>
		<h4>Nacos</h4>
<pre>sh startup.sh -m standalone
cmd startup.cmd -m standalone</pre>
		<a class="btn btn-default" th:href="@{/user/1}" role="button">Get User</a>
		<h5>Nacos Discovery</h5>
		<pre>curl -X PUT 'http://127.0.0.1:8848/nacos/v1/ns/instance?serviceName=example&#38;ip=127.0.0.1&#38;port=8841'</pre>
		<a class="btn btn-default" th:href="@{/discovery/get(serviceName=example)}" role="button">Get Discovery</a>
		<h4>Druid</h4>
		<a class="btn btn-default" th:href="@{/druid}" role="button" target="_blank">Druid Monitor</a>
	</div>
</body>
</html>