<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="h-100">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Boot 2 Security</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		main > .container {
			padding: 60px 15px 0;
		}
		.footer {
			background-color: #f5f5f5;
		}
	</style>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" th:href="@{/}">Spring Boot 2 Security</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/T5750/framework-repositories" target="_blank">GitHub</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://t5750.github.io/" target="_blank">Blog</a>
					</li>
				</ul>
			</div>
			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
			</form>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<h4 class="mt-5">REST API</h4>
			<a class="btn btn-outline-primary" th:href="@{/employees/}" role="button">GET employees</a>
			<a class="btn btn-outline-primary" th:href="@{/customer/test}" role="button">Test RestTemplate</a>
			<h4 class="mt-5">Spring Session</h4>
			<a class="btn btn-outline-primary" th:href="@{/cookie/browser(browser=chrome)}" role="button">Chrome cookie</a>
			<a class="btn btn-outline-primary" th:href="@{/cookie/browser(browser=firefox)}" role="button">Firefox cookie</a>
			<a class="btn btn-outline-primary" th:href="@{/cookie/findByUsername(username=admin)}" role="button">Find By Username</a>
			<a class="btn btn-outline-primary" th:href="@{/cookie/hello}" role="button">Hello</a>
		</div>
	</main>
	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">© 2019 T5750</span>
		</div>
	</footer>
</body>
</html>