<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Boot JMS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h4>Spring JMS</h4>
		<a class="btn btn-default" th:href="@{/jms/sendMessage}" role="button">Send a message</a>
		<a class="btn btn-default" th:href="@{/jms/sendOrder}" role="button">Send orders</a>
		<a class="btn btn-default" th:href="@{/jms/sendTopic}" role="button">Send topics</a>
		<a class="btn btn-default" th:href="@{/jms/sendInvaildOrder}" role="button">Send invaild order</a>
		<a class="btn btn-default" th:href="@{/jms/sendException}" role="button">Send order processing exception</a>
		<a class="btn btn-default" th:href="@{/jms/sendHeader}" role="button">Send header properties</a>
	</div>
</body>
</html>