<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
	<display-name>nginx</display-name>
	<servlet>
		<servlet-name>adServlet</servlet-name>
		<servlet-class>t5750.nginx.lua.servlet.AdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adServlet</servlet-name>
		<url-pattern>/ad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productServiceServlet</servlet-name>
		<servlet-class>t5750.nginx.lua.servlet.ProductServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productServiceServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
</web-app>
