<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Hello by IP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h4>Hello by IP</h4>
		<a class="btn btn-default" th:href="@{/}" role="button">Index</a>
		<h4 th:inline="text">Hello IP [[${#httpServletRequest.remoteUser}]]!</h4>
		<form th:action="@{/logout}" method="post">
			<input class="btn btn-default" type="submit" value="Logout" />
		</form>
	</div>
</body>
</html>