<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Sign In by IP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h4>Sign In by IP</h4>
		<a class="btn btn-default" th:href="@{/}" role="button">Index</a>
		<div>
			<p class="bg-danger" style="padding: 15px;" th:if="${param.error}">Invalid IP.</p>
			<p class="bg-info" style="padding: 15px;" th:if="${param.logout}">You have been logged out.</p>
		</div>
		<form th:action="@{/ipVerify}" method="post">
			<button type="submit" class="btn btn-default">Sign In by IP</button>
		</form>
	</div>
</body>
</html>