* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: #000;
	color: #FFF;
	margin: 0;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.square {
	width: 90px;
	height: 90px;
	background-color: #00B0FF;
	transition: transform 300ms ease-out;
}

.expand {
	transform: scale(2.5);
}