<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Color theme for statusbar -->
	<meta name="theme-color" content="#2196f3">
	<title>My App</title>
	<link href="https://cdn.bootcss.com/framework7/2.3.1/css/framework7.rtl.min.css" rel="stylesheet" />
	<!--<link rel="stylesheet" href="path/to/my-app.css" />-->
</head>
<body>
<!-- App root element -->
<div id="app">
	<!-- Statusbar overlay -->
	<div class="statusbar"></div>
	<!-- Your main view, should have "view-main" class -->
	<div class="view view-main">
		<!-- Initial Page, "data-name" contains page name -->
		<div data-name="home" class="page">
			<!-- Top Navbar -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="title">Awesome App</div>
				</div>
			</div>
			<!-- Toolbar -->
			<div class="toolbar">
				<div class="toolbar-inner">
					<!-- Toolbar links -->
					<a href="#" class="link">Link 1</a>
					<a href="#" class="link">Link 2</a>
				</div>
			</div>
			<!-- Scrollable page content -->
			<div class="page-content">
				<p>Page content goes here</p>
				<!-- Link to another page -->
				<a href="/about/">About app</a>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.bootcss.com/framework7/2.3.1/js/framework7.min.js"></script>
<script type="text/javascript" src="../js/app-layout.js"></script>
</body>
</html>