.lazy-image {
	background: url('../images/loading.gif') no-repeat center;
}

#view {
	width: 800px;
	height: 450px;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}
img{
	margin-top: 100px;
	background-size: cover;
	background-position: center;
	width: 800px;
	height: 450px;
}