.icon-f7 {
	background: #EE350F;
	color: #fff !important;
	border-radius: 50%;
	text-align: center;
}

.icon-f7:before {
	content: '7';
}

.ios .icon-f7 {
	width: 29px;
	height: 29px;
	line-height: 29px;
}

.md .icon-f7 {
	width: 24px;
	height: 24px;
	line-height: 24px;
}