<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Cloud Alibaba Consumer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h3>Welcome to Spring Cloud Alibaba Consumer</h3>
		<h4>Nacos</h4>
<pre>sh startup.sh -m standalone
cmd startup.cmd -m standalone</pre>
		<a class="btn btn-default" th:href="@{/nacos_discovery}" role="button">Nacos Discovery</a>
		<a class="btn btn-default" th:href="@{/nacos/echo/consumer}" role="button">Echo Consumer</a>
		<a class="btn btn-default" th:href="@{/nacos/echo-feign/feign}" role="button">Echo Feign</a>
		<a class="btn btn-default" th:href="@{/nacos/loadBalance}" role="button">Load Balance</a>
		<h4>RocketMQ</h4>
<pre>nohup sh mqnamesrv &#38;
nohup sh mqbroker -n localhost:9876 &#38;</pre>
		<a class="btn btn-default" th:href="@{/channels}" role="button">Channels</a>
	</div>
</body>
</html>