.full {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: white;
}

.spinner {
  margin: 250px auto;
  width: 100px;
  height: 100px;
  position: relative;
  animation: rotate 2.0s infinite linear;
}

.dot1 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #FF4136;
  border-radius: 100%;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: 0px;
  background-color: #111;
  border-radius: 100%;
  animation: bounce 2.0s infinite ease-in-out;
  animation-delay: -1.0s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}