<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Boot Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h4>Welcome to Thymeleaf Spring Boot web application</h4>
		<a class="btn btn-default" th:href="@{/view-products}" role="button">View Products</a>
		<a class="btn btn-default" th:href="@{/add-products}" role="button">Add Products</a>
		<a class="btn btn-default" th:href="@{/locale(lang=us)}" role="button">Locale US</a>
		<a class="btn btn-default" th:href="@{/locale(lang=fr)}" role="button">Locale FR</a>
		<a class="btn btn-default" th:href="@{/swagger-ui.html}" role="button">Swagger UI</a>
		<a class="btn btn-default" th:href="@{/hystrix}" role="button">Hystrix</a>
		<a class="btn btn-default" th:href="@{/loadedBeans}" role="button">Get all loaded beans</a>
		<a class="btn btn-default" th:href="@{/beans}" role="button">Load /beans endpoint</a>
		<a class="btn btn-default" th:href="@{/sendMessage}" role="button">Send a message</a>
		<h4>Prerequisites: spring-boot-security/BootSecurityApplication, Port: 8072</h4>
		<a class="btn btn-default" href="http://localhost:8072/view-products" role="button">View Products CORS</a>
		<h4>Prerequisites: Kafka, Port: 9092</h4>
		<pre>cd /usr/local/kafka_2.10-0.9.0.1
bin/zookeeper-server-start.sh config/zookeeper.properties &#38;
bin/kafka-server-start.sh config/server.properties &#38;</pre>
		<a class="btn btn-default" th:href="@{/kafkaMessage}" role="button">Kafka Message</a>
	</div>
</body>
</html>